:root {
    --white:#DEE1DD;
    --dark:#301010;
    --light:#964A4F;
    --accent:#4D7298;
}

* {box-sizing: border-box;}

html, body {
    background-color: black;
    color:var(--white);
    font-family: Arial;
    padding:0;
    margin:0;
    margin-top:3em;
    margin-inline: 5%;
}

.main {
background-color:#0f0f0f;
min-height: 100vh;
top:4em;
position: absolute;
width:80%;
padding-inline: 2em;
}

.button {
    background-color: var(--accent);
    padding:10px;
    border-radius: 5px;
}

a {
    color:var(--white);
    text-decoration: none;
}