.nav {
    position: absolute;
    top:0; left:0;
    width:100vw;
    background-color: var(--dark);
    border-bottom: var(--black) solid 1px;
    height:4em;
    line-height:4em;
    padding-left: 0.5em;
}

.nav .button { margin: 0.4em; }